<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7bfb4e11-e608-4d90-a3c2-78ebdaef2476/resourceGroups/UVstor/providers/Microsoft.Web/sites/backendweb20250327005712</ResourceId>
    <ResourceGroup>UVstor</ResourceGroup>
    <ApiResourceId>/subscriptions/7bfb4e11-e608-4d90-a3c2-78ebdaef2476/resourceGroups/UVstor/providers/Microsoft.ApiManagement/service/backendwebapi/apis/uvstor</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://backendweb20250327005712.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a4b38fa0-f52a-4aa8-b1ec-7b31fcda46f8</ProjectGuid>
    <MSDeployServiceURL>backendweb20250327005712.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>backendweb20250327005712</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$backendweb20250327005712</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>